.btn {
    font-weight: bold;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background: none;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.btn.small{
    font-size: 1em;
    padding: 10px 15px;
}

.btn.medium{
    font-size: 1em;
    padding: 10px 20px;
}

.btn.large{
    font-size: 1.3em;
    padding: 10px 20px;
}

.btn-transparent,
.btn-success,
.btn-error,
.btn-warning,
.btn-secondary {
    color: white;
    border-radius: 8px;
}

.btn-transparent {
    background: rgba(0, 0, 0, 0.1);
}

.btn-success {
    background: #0DC592; /* this is a green */
}

.btn-success:focus{
    outline: none;
    border-color: rgb(44, 186, 180, 0.5);
    box-shadow: 0px 0px 5px rgb(44, 186, 180, 0.5);
}

.btn-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.btn-error:focus{
    outline: none;
    border-color: rgb(202, 60, 60, 0.5);
    box-shadow: 0px 0px 5px rgb(202, 60, 60, 0.5);
}

.btn-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.btn-warning:focus{
    outline: none;
    border-color: rgb(223, 117, 20, 0.5);
    box-shadow: 0px 0px 5px rgb(223, 117, 20, 0.5);
}

.btn-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.btn-secondary:focus{
    outline: none;
    border-color: rgb(66, 184, 221, 0.5);
    box-shadow: 0px 0px 5px rgb(66, 184, 221, 0.5);
}